$primary-color: #82fff7; // #0036C5 - azulito || #4f5a24
$primary-color-rgb: rgba(130, 255, 247, 0.4);
$secondary-color: #328484; // #ffcd2a - amarillo || #2bc9c8
$secondary-color-rgb: rgba(50, 132, 132, 0.4);
$terciary-color: #1c5557; // #f4df54
$terciary-color-rgb: rgba(28, 85, 87, 0.4);
$fourth-color: #103233; // #003d5a
$fourth-color-rgb: rgba(16, 50, 51, 0.4);
$font-color: #aaa;

$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);

$limit: 10;
$unit: 8px;

@function size($value) {
    @return $value * $unit;
}