$primary-color: #262b30;
$secondary-color: black;
$terciary-color: rgba(141, 141, 141, 0.2);
$fourth-color: #003d5a;
$font-color: #aaa;

$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);

$limit: 10;
$unit: 8px;