@import 'menu';
@import 'body';

body {
    background-image: url(../public/fondoProyectosEnCurso.jpg);
    background-size: cover;
}
.container {
    background-color: $terciary-color-rgb;
    margin: 100px auto;
    width: 1080px;
    padding: 50px;
    box-shadow: $box-shadow;
    background-size: 100% 100%;
    text-align: center;
    ul {
        list-style: none;
        li {
            padding-bottom: 12px;
            text-align: justify;
            font-weight: 500;
            font-size: size(3);
            a {
                text-decoration: none;
                color: black;
            };
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

h1 {
    font-size: size(6);
    font-weight: bolder;
    text-align: center;
    padding-bottom: 40px
};

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
};